{% extends 'base.html.twig' %}

{% block body %}
    <h1>Renting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ renting.id }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if renting.creationDate %}{{ renting.creationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Outclassed</th>
                <td>{% if renting.outclassed %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('renting_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('renting_edit', { 'id': renting.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
